// color
:root {
  //black
  --30-kids-black: #221e1a;

  // white
  --05-white: #ffffff;

  // brown
  --29-kids-brown: #332217;

  // yellow
  --01-yuppy-pastel: #ffe552;
  --yuppy-pastel-2: #fff5ba;
  --17-darken-yellow: #ffcb00;
  --yellow-text: #ffd710;
  --bg-light-yellow:#fff5cf;
  --bg-light-yellow2:#fffce8;
  --bg-checked-yellow: #fff6b2;
  --bg-beige-yellow: #fff9e2;

  // grey
  --28-kids-grey: #544e4b;
  --18-grey-text: #737373;
  --06-gray: #4c4c4c;
  --11-kids-grey: #544e4b;
  --grey-text: #666;
  --grey-bg-2: #ccc;
  --14-grey-bg-1: #f2f2f2;
  --14-grey-bg-2: #f5f5f5;
  --16-grey-line: #e5e5e5;
  --bg-light-grey: #d8d8d8;
  --grey-line-2: #ccc;
  --grey-line-3: #eee;

  // red-error
  --red-error: #f04b45;

  //bg-violet
  --bg-violet: #625ff6;

  //bg-orange
  --bg-orange: #ff823b;

  //bg-green
  --bg-green: #00b38f;
  --bg-light-green: #3fd782;
  --bg-blue-green: #b2e9de;
  --bg-baby-green: #e8f9f6;

  //bg-blue
  --bg-blue: #3374ff;
  --bg-sky-blue: #c2eaf3;
  --bg-light-blue: #e0eaff;
  --bg-skyblue: #e0f1ff;
  --bg-baby-blue:#edf8fe;
  --bg-darken-blue:#22bee2;

  //bg-red
  --bg-red: #f93d6e;

  //bg-pink
  --bg-pink: #ff6970;
  --bg-soft-pink: #ffcfd8;
  --bg-light-pink: #ffe7eb;
  --bg-baby-pink:#fff1f0;

  //bg-light-orange
  --bg-light-orange: #fff4dc;
}