// breakpoints
$pcWidth: 1440px;
$tabletWidth: 1024px;
$moWidth: 360px;
$tabletMaxWidth: 1024px;
$mobileMaxWidth: 768px;
$mobileMinHeight: 759px;

// 좌우 간격 변수
$container: 32rem;
$pcContainer: 180rem;
$pcSmallContainer: 80px;
$containerSub: 20rem;

// 최대 최소 너비
$minWidth: 320px;
$maxWidth: 1920px;

// 페이지 별 분기 너비 높이
$minMainHeight: 1023px;
