.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    @include pc {
      width: 8px;
      height: 8px;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: var(--grey-bg-2);
    border-radius: 2px;
    @include pc {
      border-radius: 4px;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: var(--14-grey-bg-1);
    border-radius: 2px;
    @include pc {
      border-radius: 4px;
    }
  }
}
