.dim {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  z-index: 999998;
  transition: opacity 0.3s;
  &.s-show {
    opacity: 1;
    pointer-events: all;
  }
}