.loading {
  position: fixed;
  top:0;
  left:0;
  background-color: var(--bg-light-yellow);
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
  z-index: 99999;
  &__content {
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    @include pc {
      width: 540rem;
    }
    img {
      width: 100%;
      @include only-mobile {
        max-width: 324rem;
      }
    }
  }
  &__title {
    margin-top: 12rem;
    font-size: 22rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    @include pc {
      margin-top: 24rem;
      font-size: 36rem;
    }
  }
  &__subtitle {
    margin-top: 6rem;
    font-size: 14rem;
    line-height: 1.57;
    letter-spacing: -0.3px;
    text-align: center;
    @include pc {
      margin-top: 12rem;
      font-size: 20rem;
      line-height: normal;
    }
  }
  &__progress {
    width: 250rem;
    box-sizing: border-box;
    margin-top: 20px;
    @include pc {
      width: 400rem;
    }
  }
  ::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-progress-value {
    background-color: #ffe200;
  }

  .progress {
    position: relative;
    width: 100%;
    padding-top: 23px;
    font-size: 0;
    @include pc {
      padding-top: 32px;
    }
    &::before {
      content: attr(data-progress)'%';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 14rem;
      font-weight: 500;
      line-height: normal;
      color: var(--18-grey-text);
      text-align: center;
      @include pc {
        font-size: 20rem;
      }
    }
    progress {
      width: 100%;
      -webkit-appearance: none;
      height: 8px;
      border-radius: 4px;
      overflow: hidden;
    }
  }
}

